* {
  box-sizing: border-box;
}

html {
  overflow: auto;
  scroll-behavior: smooth;
  font-size: 16px;
}

body {
  margin: 0px;
  font-family: "Roboto", sans-serif;
  color: rgb(45, 14, 1);
  font-size: 1.25rem;
}

.bg-image {
  width: 100vw;
  min-height: 100vh;
  top: 0;
  z-index: -1;
  background-color: #4e81ba;
  background-image: url(../images/cssman.png), url(../images/cssfon.jpg);
  background-repeat: no-repeat;
  background-position: 95% 33%, 50% 50%;
  background-size: 200px, cover;
  position: fixed;
}

.bg-image::after {
  content: "";
  background-color: rgb(13, 22, 25);
  opacity: 0.2;
  width: 150vw;
  min-height: 100vh;
  top: 0;
  z-index: -1;
  position: fixed;
}

.container {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  padding-bottom: 50px;
}

h1,
h2 {
  font-family: "Roboto Slab", serif;
  text-transform: uppercase;
  font-weight: 100;
  font-size: 3rem;
  text-align: center;
}

h2 {
  font-size: 2rem;
}

.navbar {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.navbar-link {
  background-color: rgb(62, 132, 202);
  padding: 0.5em 1em;
  display: block;
  transition: 0.5s;
  text-decoration: none;
}

.navbar-link:hover {
  background-color: aquamarine;
  transform: scale(1.1) translateY(-5px);
}

.header {
  background-color: rgb(3, 35, 60);
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.articl {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 1.5rem;
  color: rgb(36, 2, 70);
  border-bottom: 2px solid rgb(17, 4, 53);
  text-decoration: none;
}

.articl-text,
.articl-link-new {
  background-color: wheat;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.articl-link:hover {
  color: rgb(206, 113, 149);
  text-decoration: none;
  padding-top: 10px;
  padding-bottom: 10px;
}

.articl-link-new {
  background-color: gray;
}

.caption {
  text-align: center;
}

.text::first-letter {
  font-size: 35px;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: rgb(107, 27, 27);
}

.list {
  background-color: bisque;
  font-weight: 800;
  display: flex;
  justify-content: space-between;
  gap: 2em;
  padding: 1em 4em;
}

.list-katalog,
.list-katalog--2,
.list-katalog--3 {
  list-style: url(../images/natyral.png);
  font-size: 30px;
}

.list-katalog--2 {
  list-style: url(../images/food.png);
}

.list-katalog--3 {
  list-style: url(../images/house.png);
}

.sublist,
.sublist--2,
.sublist--3 {
  list-style: url(../images/flower.png);
  font-size: 15px;
  background-color: rgb(158, 106, 29);
  padding: 1em 0.5em;
}

.sublist--2 {
  list-style: url(../images/basket.png);
}

.sublist--2::after {
  content: url(../images/new2.png);
}

.sublist--3 {
  list-style: url(../images/bureau.png);
}

.textura {
  background-image: url(../images/textura.jpg);
  position: fixed;
  z-index: -1;
  top: 0;
  background-color: rgb(17, 8, 118);
  height: 100%;
  width: 100%;
  background-size: 700px;
  background-repeat: repeat;
  background-position: top;
}

.footer {
  background-color: #4e81ba;
  position: fixed;
  bottom: 0;
  width: 100vw;
  height: 45px;
  font-size: 12px;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: black;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.border-decorated {
  border-style: solid;
  border-width: 2px;
  border-color: rgb(34, 120, 211);
  display: block;
  text-align: center;
  width: 300px;
  height: 300px;
  float: left;
}

.border-decorated:hover {
  border-color: transparent;
}

.button {
  width: 100%;
  padding: 10px 20px;
}

fieldset {
  max-width: 700px;
  margin: 25px auto;
  background-color: rgb(79, 85, 192);
}

.form-group {
  margin-top: 1em;
  margin-bottom: 1em;
}

input {
  width: 100%;
  padding: 10px 20px;
}

input[type="checkbox"],
input[type="radio"] {
  width: auto;
}

input[type="file"] {
  padding: 0;
}

input[type="data"] {
  padding: 0;
}

input[type="text"] {
  text-transform: capitalize;
}

textarea {
  width: 100%;
  padding: 10px 20px;
  resize: vertical;
  min-height: 75px;
  max-height: 35vh;
}

legend {
  transform: translateY(-10px);
}

.form-group-sm {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.form-group-sm:hover {
  outline: 2px dotted white;
}

.capitalized {
  text-transform: capitalize;
}

.karta {
  text-align: center;
}

.hidden {
  display: none;
}

.form-label {
  margin-bottom: 0.25em;
  display: inline-block;
}

.btn-group {
  display: flex;
  gap: 1em;
}
